.container-change {
  position: fixed;
  border: solid;
  border-radius: 5px;
  background-color: white;
  height: 500px;
  width: 10%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: none;
}

.change-email--title {
  position: absolute;
  display: flex;
  left: 20px;
}

.change-email--input {
  position: absolute;
  display: flex;
  top: 150px;
}
