.container-create {
  position: fixed;
  border: solid;
  background-color: lightblue;
  height: 500px;
  width: 15%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: none;
}

.background-image {
}

.header {
  position: relative;
  height: 40px;
  border-bottom: solid;
  background-color: lightcoral;
}

.country-selector {
  position: absolute;
  display: flex;
  margin-top: 10px;
  left: 10px;
}

.date-picker {
  position: absolute;
  display: flex;
  margin-top: 10px;
}

.main-link {
  background-color: lightgreen;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-link-login {
  margin-left: 20px;
  font-size: 12px;
  font-size: 18px;
}

.main-link-create-account {
  margin-right: 20px;
  font-size: 12px;
  font-size: 18px;
}

.residence-title {
  position: absolute;
  display: flex;
  left: 10px;
}
