.main-body {
  position: relative;
  display: flexbox;
  flex: 1;
  height: 100vh;
  left: 300px;
  box-shadow: 2px 2px 2px green;
}

.trending-reviews {
  position: relative;
  display: flex;
  height: 300px;
  width: 500px;
  background-color: aqua;
  left: 100px;
  top: 100px;
}

.trending-reviews--title {
  position: absolute;
  display: flex;
  width: 300px;
  justify-content: left;
}
