.main-body {
  position: relative;
  display: flexbox;
  flex: 1;
  height: 100vh;
  left: 300px;
  box-shadow: 2px 2px 2px green;
}

.main-body--title {
  position: absolute;
  display: inline-block;
  left: 30px;
}

.review-container {
  position: relative;
  width: 200px;
}
