.main-body {
  position: relative;
  flex: 1;
  background-color: lightgreen;
  height: 99vh;
  left: 290px;
}

.game-news-cyberpunk--image {
  position: absolute;
  width: 250px;
  left: 100px;
  top: 50px;
}

.game-news-cyberpunk--title {
  position: absolute;
  left: 0;
  font-size: 16px;
  color: white;
  border: solid;
  padding: 15px;
}
