.main-body {
  position: relative;
  flex: 1;
  background-color: lightgreen;
  height: 99vh;
  left: 290px;
}

.game-news {
  border: solid;
}

.game-news-cyberpunk--image {
  position: absolute;
  width: 250px;
  left: 100px;
  top: 50px;
}

.game-news-cyberpunk--title {
  position: absolute;
  left: 100px;
  top: 352px;
  font-size: 16px;
  width: 220px;

  color: white;
  padding: 15px;
  justify-content: center;
  backdrop-filter: blur(100px);
  background-color: rgba(7, 6, 6, 0.9);
}
