.sidebar {
  position: relative;
  display: flex;
  width: 200px;
  height: 300px;
  background-color: lightblue;
  margin: 0;
  left: 0;
}

.sidebar-title--first {
  position: absolute;
  display: flex;
  width: 80px;
  left: 70px;
}

.sidebar-title--second {
  position: absolute;
  display: flex;
  width: 300px;
  left: 10px;
  top: 50px;
}

.sidebar-logo {
  position: absolute;
  display: flex;
  width: 60px;
  top: 8px;
}

.sidebar-links {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  height: 100px;
  top: 120px;
  width: 200px;
}

.sidebar-links--home {
  position: absolute;
  display: flex;
  width: 50px;
}

.sidebar-links-title--home {
  position: absolute;
  display: flex;
  left: 70px;
  font-size: 20px;
}

.sidebar-links--search {
  position: absolute;
  display: flex;
  width: 50px;
}

.sidebar-links-image--search {
  position: absolute;
  display: flex;
  width: 50px;
}

.sidebar-links-title--search {
  position: absolute;
  display: flex;
  width: 50px;
}
