.sidebar {
  position: fixed;
  display: flex;
  width: 300px;
  height: 99vh;
  background-color: white;
  margin: 0;
  left: 0;
  padding-left: 10px;
  box-shadow: 2px 2px 2px gray;
}

.sidebar-title--first {
  position: absolute;
  width: 80px;
  left: 70px;
}

.sidebar-title--second {
  position: absolute;

  width: 300px;
  left: 10px;
  top: 50px;
}

.sidebar-logo {
  position: absolute;

  width: 60px;
  top: 8px;
}

.sidebar-links--home {
  position: absolute;
  display: flex;
  width: 200px;
  height: 55px;
  top: 120px;
  width: 200px;
  border: solid;
}

.sidebar-links-image--home,
.sidebar-links-image--search,
.sidebar-links-image--review,
.sidebar-links-image--news,
.sidebar-links-image--login {
  position: absolute;
  width: 50px;
}

.sidebar-links-title--home,
.sidebar-links-title--search,
.sidebar-links-title--review,
.sidebar-links-title--news,
.sidebar-links-title--login {
  position: absolute;
  left: 70px;
  font-size: 20px;
}

.sidebar-links--search {
  position: absolute;
  display: flex;
  width: 200px;
  height: 55px;
  top: 200px;
  border: solid;
}

.sidebar-links--review {
  position: absolute;
  display: flex;
  width: 200px;
  height: 55px;
  top: 280px;
  border: solid;
}

.sidebar-links--news {
  position: absolute;
  display: flex;
  width: 200px;
  height: 55px;
  top: 350px;
  border: solid;
}

.sidebar-links--login {
  position: absolute;
  display: flex;
  width: 200px;
  height: 55px;
  top: 420px;
  border: solid;
}

.sidebar-links--home:hover,
.sidebar-links--login:hover,
.sidebar-links--news:hover,
.sidebar-links--review:hover,
.sidebar-links--search:hover {
  background-color: gray;
}
