.sidebar {
  position: relative;
  display: flex;
  width: 200px;
  height: 300px;
  background-color: lightblue;
  margin: 0;
  left: 0;
}

.sidebar-title--first {
  position: absolute;
  display: flex;
  width: 80px;
  left: 20px;
}

.sidebar-title--second {
  position: absolute;
  display: flex;
  width: 300px;
  left: 10px;
  top: 50px;
}

.sidebar-logo {
  position: absolute;
  display: flex;
  width: 60px;
  top: 8px;
}
